/*------------------------------------------------------------------------------------------------------------
                                            1. SEÇÃO DA LOGO
--------------------------------------------------------------------------------------------------------------*/

.secao_logo {
  width: 100%;
  height: 550px;
  background-color: #36bf58;
  position: relative;
}
.logo {
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: max-content;
}
.logo-img{
  display: inline-block;
  background-image: url(../img/star\ \(1\).png);
  background-size: cover;
  width: 120px;
  height: 120px;
}
.logo h1{
  display: inline-block;
  color: white;
  font-family: sans-serif;
  font-size: 130px;
  letter-spacing: 15px;
  margin-left: 50px;
}
.logo p{
  font-size: 3rem;
  margin-top: 30px;
  text-align: center;
  color: rgb(233, 233, 233);
}
/*------------------------------------------------------------------------------------------------------------
                                            2. ESCOLHA DA CATEGORIA
--------------------------------------------------------------------------------------------------------------*/

.navegador,
.pc,
.mundo {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: calc(100% / 3);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.377);
}
.pc {
  left: calc(100% / 3);
}
.mundo {
  left: calc(100% * 2 / 3);
}
/*------------------------------------------------------------------------------------------------------------
                                            2. 1. TÍTULO
--------------------------------------------------------------------------------------------------------------*/
.titulo_secao {
  font-size: 4rem;
  font-family: sans-serif;
  color: black;
  width: max-content;
  margin: 80px auto 100px;
  text-transform: uppercase;
  letter-spacing: -1px;
}
/*------------------------------------------------------------------------------------------------------------
                                            2. 2. ÍCONE
--------------------------------------------------------------------------------------------------------------*/
.icone_branco {
  display: none;
}
.icone,
.icone_branco {
  height: 120px;
  width: 120px;
  position: relative;
  left: calc(100% / 2);
  transform: translateX(-50%);
  margin-bottom: 50px;
}
.icone,
.icone_branco {
  height: 120px;
  width: 120px;
  position: relative;
  left: calc(100% / 2);
  transform: translateX(-50%);
  margin-bottom: 50px;
}
/*------------------------------------------------------------------------------------------------------------
                                            2. 3. PEQUENO TEXTO
--------------------------------------------------------------------------------------------------------------*/
.txt_previa {
  font-family: serif;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px;
}
.botao {
  width: 300px;
  height: 50px;
  background-color: #36bf58;
  margin: 0 auto;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #36bf58;
}
.botao h1 {
  display: block;
  color: #fff;
  font-size: 35px;
  font-family: sans-serif;
  width: max-content;
  line-height: 50px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
/*------------------------------------------------------------------------------------------------------------
                                            2. 4. MUDANÇAS :HOVER
--------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------
                                            2. 4. 1. GERAL
--------------------------------------------------------------------------------------------------------------*/
:hover.navegador,
:hover.pc,
:hover.mundo {
  background-color: rgb(130, 255, 130);
}
:hover.navegador h1,
:hover.pc h1,
:hover.mundo h1 {
  color: white;
}
:hover.navegador p,
:hover.pc p,
:hover.mundo p {
  color: white;
}
/*------------------------------------------------------------------------------------------------------------
                                            2. 4. 2. ÍCONE
--------------------------------------------------------------------------------------------------------------*/
:hover.navegador .icone_branco,
:hover.pc .icone_branco,
:hover.mundo .icone_branco {
  display: inline-block;
}
:hover.navegador .icone,
:hover.pc .icone,
:hover.mundo .icone {
  display: none;
}
/*------------------------------------------------------------------------------------------------------------
                                            2. 4. 3. BOTÃO
--------------------------------------------------------------------------------------------------------------*/
:hover.navegador .botao,
:hover.pc .botao,
:hover.mundo .botao {
  box-shadow: 0 0 0 2px rgb(130, 255, 130), 0 0 0 4px #36bf58;
}
:hover.botao {
  transform: scale(1.15);
}